---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold tracking-wide">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          Blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/tools">
          Herramientas
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          Proyectos
        </Link>
      </nav>
      <div class="bg-yellow-200 text-black text-center py-2 w-full">
        Este sitio está en construcción. Gran parte de la información es ficticia.
      </div>
    </div>
  </Container>
</header>
